/* * {
    border: 1px solid red;
} */
.wrapper {
    margin: 0px 14%;
    display: grid;
    grid-gap: 2px;

}
.hero {
    background: url("images/mountains.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;

}

#verse {
    text-align: center;
    margin-top: 0px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin: 90px 15%;
    list-style: none;
    /* background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, .2)), color-stop(0.05, rgba(0, 0, 0, 0)), color-stop(0.97, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .45))), 
    -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, .2)), color-stop(0.002, rgba(0, 0, 0, 0)), color-stop(0.998, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .2))), no-repeat 50% 50%,
    -webkit-gradient(linear, 0 100%, 0 0, from(#666), color-stop(0.5, #5e5e5e), color-stop(0.51, #707070), to(#808080));  */
    background: linear-gradient(to top, #666, #5e5e5e 50%,#707070 51%, #808080);
    color: white;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
}

.nav-item {
    padding: 13px 40px 0px 40px;
}

.nav-item:hover {
    background: rgba(0, 0, 0, .35);
}
form {
    padding-bottom: 6px;

}
input[type=text] {
    background: rgba(0, 0, 0, .1);
    border-radius: 20px;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    transition: width 0.4s ease-in-out;
    transition: background .2s ease-in-out;

}

input[type=text]:focus {
    background: white;
    width: 120%;
  }

.promos {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

footer {
    font-size: 12px;
    padding: 15px 17%; 
    display: grid;
    grid-template-columns: 1fr 1fr;

}



.footer-right {
    display: flex;
    list-style: none;
    justify-content: end;
}

.footer-nav-item {
    padding-left: 3px;
    padding-right: 3px;
}

.footer-item {
    margin: 8px 0px;
}



